<h1>New User:</h1>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
<div>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label "Happiness (1-5)" %><br>
  <%= f.text_field :happiness %>
</div>
<div>
  <%= f.label "Nausea (1-5)" %><br>
  <%= f.text_field :nausea %>
</div>
<div>
  <%= f.label "Height (inches)" %><br>
  <%= f.text_field :height %>
</div>
<div>
  <%= f.label :tickets %><br>
  <%= f.text_field :tickets %>
</div>
<div>
  <br><%= f.label "Are you an admin?" %>
  <%= f.check_box :admin %>
</div>
<div>
  <br><%= f.submit %>
</div>
<% end %>